nav {
    background-color: var(--background-color);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

a {
    color: #000000;
    text-decoration: none;
    font-size: larger;
}

.active {
    color: #628324;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

.menu {
    top: 3rem;
    left: -5rem;
}
