.image-con {
    height: 100%;
    aspect-ratio: 1;
}

.animation-go-left {
    animation: go-left 30s infinite linear;
}

@keyframes go-left {
    100% {
        transform: translateX(calc(-50% - 1rem)); // gap is 2 rem
    }
}
