<div class="w-full h-30rem overflow-hidden bg-gray-300">
    <div class="animation-go-left w-fit h-full py-5 flex flex-row gap-5">
        <!-- 1 -->
        <div class="image-con">
            <app-multi-image [images]="multiImage2"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [images]="multiImage3"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [image]="singleImages[0]"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [images]="multiImage2"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [images]="multiImage4"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [image]="singleImages[1]"></app-multi-image>
        </div>
        <!-- 1 -->
        <!-- 2 -->
        <div class="image-con">
            <app-multi-image [images]="multiImage2"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [images]="multiImage3"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [image]="singleImages[0]"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [images]="multiImage2"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [images]="multiImage4"></app-multi-image>
        </div>
        <div class="image-con">
            <app-multi-image [image]="singleImages[1]"></app-multi-image>
        </div>
        <!-- 2 -->
    </div>
</div>
