<div class="w-full h-30rem overflow-hidden">
    <div
        class="animation-go-left w-fit h-full bg-blue-400 py-5 flex flex-row gap-5"
    >
        <div class="single-image"></div>
        <div class="multi-image">
            <app-multi-image [images]="multiImage4"></app-multi-image>
        </div>
        <div class="single-image"></div>
        <div class="single-image"></div>
        <div class="single-image"></div>
        <div class="single-image"></div>

        <!-- <div *ngFor="let img of images">
        <img [src]="img.src" />
    </div> -->
    </div>
</div>
