::ng-deep img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

::ng-deep .p-multiselect-panel,
::ng-deep .p-multiselect,
::ng-deep .p-multiselect-label-container {
    width: fit-content;
}
