<article class="relative">
    <img
        class="absolute top-0 right-0 max-h-25rem"
        src="assets/images/intro/worker.png"
    />
    <div class="ml-8 max-w-40rem">
        <h1>About Us</h1>
        <p>
            Meir Marcovich Metals Ltd. was established on 1991, as a small
            commercial company which dealt in various scrap metals (solids and
            turnings), for recycling.
            <br />
            <br />
            The company is giving gathering and pick-up services, as well as
            transportation all over the country. We are usually holding stock of
            various metals in our yard at South Industrial Zone Akko, as well as
            in additional yard at Kfar Bialik.
            <br />
            <br />
            The company uses its own equipment such as tracks, cranes, baggers,
            fork-lifts, containers in various capacities, etc.
        </p>
    </div>
</article>
