.top-left {
    top: 0;
    left: 0;
    width: 60%;
    height: 25%;
}

.top-right {
    width: 35%;
    height: 50%;
    top: 0;
    right: 0;
}

.bottom-left {
    width: 60%;
    height: 70%;
    bottom: 0;
    left: 0;
}

.bottom-right {
    width: 35%;
    height: 45%;
    bottom: 0;
    right: 0;
}
