<div class="relative w-full h-full">
    <div class="absolute deep-image-con overflow-hidden top-left">
        <app-gallery-image [product]="products[0]"></app-gallery-image>
    </div>
    <div class="absolute deep-image-con overflow-hidden top-right">
        <app-gallery-image [product]="products[1]"></app-gallery-image>
    </div>
    <div class="absolute deep-image-con overflow-hidden bottom-left">
        <app-gallery-image [product]="products[2]"></app-gallery-image>
    </div>
    <div class="absolute deep-image-con overflow-hidden bottom-right">
        <app-gallery-image [product]="products[3]"></app-gallery-image>
    </div>
</div>
